{% extends 'base.html' %}

{% block body %}
	<div class="container">
		<h1 align="center">Welcome!</h1>
		<div class="jumbotron">
      <!--
			<h2>Alex Network</h2>
			<p><b>Author:</b> Aleksey Slutskiy</p>
			<p><b>Headquarters:</b> Saratov SU</p>
      -->

      {% load static %}
      <img src="{% static 'djangologo.png' %}" width="200" height="200"
           style="float:left; margin-right: 20px;">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;Hi! My name's Aleksey. I made simple web-site.
      I try to learn any web-programming cool stuff and add to this project.
      You could say It's my platform for code learning.</p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;I've already implemented basic social network,
        where you can only send messages and add friends.
        So far, I'm not very good at front-end developing,
        so layout could be ugly now :-) I've just started.
        Also I learn javascript and
        I made couple simple games with html-canvas.</p>

      <p style="display:inline;">&nbsp;&nbsp;&nbsp;&nbsp;
        You <u>need to register</u> to view my work.
        It's pretty much easy, less than 1 minute.
        Check this out! I appreciate you tips, suggestions and questions.
        You can always drop me a line at
        <p style="display:inline;font-family: Arial;font-size:19;">
          slutskiyad@gmail.com.
        </p>
      </p>

      <p>&nbsp;&nbsp;&nbsp;&nbsp;Thank you for your attention.</p>
		</div>
	</div>
{% endblock %}
