body
{
    min-width: 1900px;
    overflow: auto;
}

#canv
{
    margin-top: 50px;
    border-radius: 5px;
	border: 2px solid black;//#ffaa00;
}

.mid-content
{
}

.left-in
{
    float: left;
    width: 900px;
}

.right-in
{
    float: left;
    width: calc(100% - 900px);//400px;
    overflow: hidden;
}

.main-column
{
    margin-left: auto;
    margin-right: 0;
    width: 604px;
}

#users-online
{
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #dddddd;
    height: 504px;
    width: 200px;
}

#right-button
{
    float: right;
}

.take-button
{
    display: none;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
}

#chat-window
{
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffaa00;
    height: 100px;
    overflow-y: auto;
    border: 2px solid black;
}

#chat-input
{
    width: 500px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#chat-button
{
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}