<html>
  <head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    
    <meta charset="utf-8">

    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">

    <title>Aleks's Network</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="{% static 'base.js' %}"></script>

    <div class="header-div">
      <p class="header-p"><a class="header-a" href="{% url 'talk:info' %}">A L E K S ' S</a><p>
    </div>
    <div class="middle">
      <div class="middle-left">
        <div class="my-navbar">
          <ul class="navbar-ul">
            {% if user.is_authenticated %}
              <li><a class="navbar-a" href="{% url 'talk:messages' %}">Messages</a></li>
              <li><a class="navbar-a" href="{% url 'talk:friends' %}">Friends</a></li>
              
              <div class="dropdown">
                <a class="navbar-a" onclick="myfunc(this)">
                  Profile<p style="float:right;" align="right">&#8711;</p>
                </a>
                <div class="dropdown-content">
                  <li><a style="display: block;" class="navbar-a"
                         href="{% url 'accounts:view_profile' %}">
                      View</a>
                  </li>
                  <li><a style="display: block;" class="navbar-a"
                         href="{% url 'accounts:edit_profile' %}">
                      Edit</a>
                  </li>
                </div>
              </div>

              <div class="dropdown">
                <a class="navbar-a" id="lah" onclick="myfunc(this)">
                  Connect 4<p style="float:right;" align="right">&#8711;</p>
                </a>
                <div class="dropdown-content">
                  <li><a style="display: block;" class="navbar-a"
                         href="http://tuna.com.ru/connect4">
                      Multiplayer</a>
                  </li>
                  <li><a style="display: block;" class="navbar-a"
                         href="{% url 'games:ranklist' %}">
                      Ranklist</a>
                  </li>
                </div>
              </div>
              <br><br><br><br>
              <li><a class="navbar-a" href="{% url 'accounts:logout' %}">
                  Log out</a>
              </li>
            {% else %}
              <li><a class="navbar-a" href="{% url 'accounts:register' %}">
                  Register</a>
              </li>
              <li><a class="navbar-a" href="{% url 'accounts:login' %}">
                  Log in</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
        
      <div class="middle-right">
        {% block body %}
        <h1>BODY PATTERN</h1>
        {% endblock %}
      </div>      
    </div>
    
  </body>

  <script src="http://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
</html>
