{% extends 'base.html' %}

{% block body %}
<style>
	div.container1
	{
		width:600px;
		word-wrap: break-word;
		margin: auto;
		border: 2px solid #FCFCFC;
		background: #FCFCFC;
	}
	
	form
	{
		text-align: center;
	}

	div.unread
	{
		width: 400px;
		border: 1px solid #DDDDFF;
		background: #DDDDFF;
		margin-top: 10px;
		border-radius: 5px;
	}

	div.read
	{
		width: 400px;
		border: 1px solid #FCFCFC;
		background: #F8F0F0;
		margin-top: 10px;
		border-radius: 5px;
	}
</style>
	<div class="container1">
		<p align="right">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<p align="center">
				<button type="submit">Submit</button>
			</p>
		</p>
		</form>

		<p style="text-align:left;">
		<font size="6" align="right">Me</font>
		<span style="float:right;">
		<font size="6">{{ friend }}</font>
		</span>
		</p>

		{% for mes in messages %}


			{% if mes.read %}
				<div class="read"
			{% else %}
				<div class="unread"
			{% endif %}

				{% if mes.sender == request.user %}
					style="float:left"><p align="left">
				{% else %}
					style="float:right"><p align="right">
				{% endif %}
					<font size="3">{{ mes.text }}</font></p>
				</div>

		{% endfor %}
									
{% endblock %}
